/* Waldjugend login logo */
h1 a {
    background-image: url('../design/header/Logo-header.svg') !important;
    height: 180px !important;
    width: 180px !important;
    background-size: 180px 180px !important;
    padding-bottom: 5px !important;
}